@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.mainLayout {
  margin: auto;
  width:90%;
  padding:10px;
  background-color: darkgreen;
}

.mainTextEntry {
  margin: auto;
  width:100%;
  padding:10px;
  background-color: green;
}


.labelText {
  margin: auto;
  font-size:36px;
  display: block;
  text-align: center;
  color:darkblue;
}
.puzzleAnswer{
  font-size:26px;
  background-color:lightgreen;
  color: black;
  padding: 10px;
  margin: auto;
  text-align: center;
}
.puzzlePrompt{
  font-size:26px;
  background-color:lightgreen;
  color: black;
  padding: 10px;
  margin: auto;
}

.buttonInterface {
  background-color: grey;
  margin: auto;
  padding: 10px;
}

.linkText{
  font-size:18px;
  padding: 10px;
  margin: auto;
}

.mediumStyle {
  background-color: cornflowerblue;
}

.formContainer {
  background-color: mediumblue;
  padding: 10px;
}
textarea {
  display: block;
  margin: 10px;
  width: 100%;
}

.answerEntry {
  background-color: gray;
  display:block;
  margin:auto;
}

.submitButton {
  display:block;
  margin:auto;
}

.buttonMain {
  background-color: white;
  
  color: black;
}

.buttonDark {
  background-color: black;
  color: white;
}